<app-header></app-header>
<div class="d-flex">

    <!-- Sidebar -->
    <nav id="sidebar" class="sidebar d-flex flex-column flex-shrink-0 p-3" style="width: 250px; height: 100vh; background-color: #000563;">
      <a routerLink="/dashboard" href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <i class="fas fa-tachometer-alt me-2"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/parking" routerLinkActive="active" class="nav-link">
            <i class="fas fa-map-marked-alt me-2"></i>
            Mapa de Estacionamiento
          </a>
        </li>
        <li>
          <a routerLink="/reservations" routerLinkActive="active" class="nav-link">
            <i class="fas fa-calendar-alt me-2"></i>
            Reservaciones
          </a>
        </li>
        <li>
          <a routerLink="/vehicles" routerLinkActive="active" class="nav-link">
            <i class="fas fa-car me-2"></i>
            Vehículos
          </a>
        </li>
        <li>
          <a routerLink="/reports" routerLinkActive="active" class="nav-link">
            <i class="fas fa-chart-bar me-2"></i>
            Reportes
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <button class="btn btn-danger" (click)="logout(); $event.stopPropagation();">Cerrar Sesión</button>
      </div>
     
    </nav>
    
    <!-- Main content -->
    <div class="main-content flex-grow-1 p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
